<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <!--
        Console Appender
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        -->
        
        <!-- File Appender -->
        <File name="File" fileName="test.log" append="false">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    
    <Loggers>
        <!-- Levels are: TRACE, DEBUG, INFO, WARN, ERROR, FATAL [deze laatste niet beschikbaar in SLF4J] -->
        <Root level="trace">
<!--            <AppenderRef ref="Console" />   -->
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
    
</Configuration>